## Variables
 Variable is a location in memory to store data(value).
 
 They are given unique names to differentiate between different memory locations.The rules for writing a variable name is same as rules for writing an identifiers in python.
 
 We dont need to declare a variable before using it.In Python, we simply assign a value to a variable and it will exist.We dont even have to declare the type of variable.This is handled internally according to the type of value we assign to the variable.

# variable assignment

In [2]:
# We use assignment operator to assign values to variables like 
a= 10 
b= 1.0
c= 'OSSD'

## Multiple assignment

In [3]:
a,b,c = 10,5.5,"OSSD"
a= b= c= 'OSSD' # here we can assign same value to multiple variables at once

## Storage locations

In [1]:
x = 3

print(id(x))             #print address of variable x

140735720466272

In [2]:
y = 3

print(id(y))            #print address of variable y

140735720466272


Observation:
    
x and y points to same memory location

In [3]:
y = 2
print(id(y))            #print address of variable y

140735720466240

# Data Types

Every value in the Python has a datatype. since everything is an object in the Python programming, data types are actually classes and variables and instance (object) of these of these classes.

# Numbers


Integers, floating point numbers and complex numbers falls under Python numbers categary. They are defined as int, float and complex class in Python.

We can use the  type() function to know which class a variable or a value belongs to and the instance() function to check if an object belongs to a particular class.

In [9]:
a = 5                 #data type is implicity set to integer
print(a, "iis of type", type(a))

5 iis of type <class 'int'>

In [10]:
a = 2.5               #data type is changed to float    
print(a, " is a type", type(a))

2.5  is a type <class 'float'>

In [5]:
a = 1+2j           #data type is changed to complex number
print(a, "is complex number?")
print(isinstance(1+2j, complex))
print(type(a))

(1+2j) is complex number?
True
<class 'complex'>

# Boolean


Boolean represents the truth value False and True

In [18]:
a = True           #a is  a boolean type
print(type(a))

<class 'bool'>

# Python Strings


String is sequence of unicode characters.

We can use single quotes or double quotes to represent strings.

Multi-line strings can be denoted using triple quotes,'''or""".

A string in python consists of a series or sequence of charecters - letters,numbers, and special charecters.

Strings can be indexed - often synonymously called subscripted as well.

Similar to C, the first character of a string has the index 0.

In [1]:
s= """This is Online AI 
       course"""
print(type(s))

<class 'str'>

In [2]:
print(s[-1])
print(len(s))
#last char s[len(s)-1] or s[-1]

e
32

In [3]:
#slicing
s[5:]

'is Online AI \n       course'

### Python List
List is an ordered sequence of items.It is one of the most used datatype in python and is very flexible. All the items in a list do not need to be of the same type.
Declaring a list is, items seperated by commas are enclosed within brackets[].

In [42]:
a= [10,12.5,5,'Hello']
print(a[1])

12.5

In [43]:
a[1]= 30.7
print(a)

[10, 30.7, 5, 'Hello']

### Python Tuple

Tuple is an ordered seqence of items same as list. The only difference is that tuples are immutable.Tuples once created cannot be modified.

In [45]:
t = (1,1.5,'ML')

In [44]:
print(t[1])

1.5

In [46]:
t[1]= 1.25

TypeError: 'tuple' object does not support item assignment

### Python Set
Set is an ordered collection of unique items.Set is deifined by values separated by comma inside braces{}.Items in a set are not ordered

In [47]:
a= {10,30,20,40,5,5,5,5}
print(a)

{5, 40, 10, 20, 30}

In [48]:
print(type(a))

<class 'set'>

### we can perform set operations like union,intersection on two sets.set have unique values.

In [51]:
s={10,20,20,30,30,30}
print(s) 
# automatically set wont consider duplicate elements

{10, 20, 30}

In [52]:
print(s[1]) #we cant print particular element in set because its unorder collections of items

TypeError: 'set' object is not subscriptable

### Python Dictionary 
Dictionary is an unordered collection of key-value pairs.
In python,Dictionaries are defined within braces{} with each item being a pair in the form key:value.
Key and value can be of any type

In [53]:
d= {'1':'apple','b':'bat'}
print(d['b'])

bat

### Conversion between datatypes
we can convert different data types by using different tyoe conversion functions like int(),
float(),str() etc.

In [5]:
float(5) # convert integer to float using float() method

5.0

In [15]:
int(100.5) #convert float to integer using int() method

100

In [6]:
str(20)

'20'

conversion to and from string must contain compatible values

In [17]:
int('10p')

ValueError: invalid literal for int() with base 10: '10p'

In [2]:
user = 'sathish'
lines = 100
print('congratulations, '+user+'! you just wrote '+ str(lines)+' lines of code')

congratulations, sathish! you just wrote 100 lines of code

we can convert one sequence to other

In [23]:
a= [1,2,3]
print(type(a))
s= set(a)
print(type(s))

<class 'list'>
<class 'set'>

In [24]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [7]:
set((1,2,3,4))

{1, 2, 3, 4}