### Lists
Data structure:
 
A data structure is a collection of data elements (such as numbers or characters- or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in Python is the 'sequence'.

List is one of the Sequence Data structure.
lists are collection of items(strings, integers or even other lists)

lists are enclosed in []

Each item in the list has an assigned index value.

Each item in a list is separated by a comma.

lists are mutable, which means they can be changed.

### List Creation

In [1]:
emptyList = []
lst = ['one', 'two', 'three','four']# list of strings
lst2 = [1,2,3,4] # list of integers
lst3= [[1,2],[3,4]] # list of different datatypes
lst4= [1,'rama',24,1.24] # list of different datatypes
print(lst4)

[1, 'rama', 24, 1.24]

List length

In [2]:
lst = ['one','two','three','four']
# find the length of a list
print(len(lst))

4

List Append

In [7]:
lst = ['one','two','three','four']
lst.append('five')
print(lst)

['one', 'two', 'three', 'four', 'five']

List insert

In [9]:
# syntax: lst.insert(x,y)
lst = ['one','two','four']
lst.insert(2,'three')# will add element y at location x
print(lst)

['one', 'two', 'three', 'four']

List Remove

In [11]:
# syntax:lst.remove(x)
lst = ['one','two','three','four','two']
lst.remove('two')# this will remove first occurance of 'two'in a given list
print(lst)

['one', 'three', 'four', 'two']

### List append and Extend

In [12]:
lst= ['one','two','three','four']
lst2 = ['five','six']
#append
lst.append(lst2)
print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [14]:
lst = ['one','two','three','four']
lst2 = ['five','six']
# extend will join the list with list1
lst.extend(lst2)
print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

### List Delete

In [17]:
# del to remove item based on index position

lst = ['one','Two','three','four','five']
del lst[1]
print(lst)

# or we can use pop()method 
a = lst.pop(1)
print(a)
print(lst)

['one', 'three', 'four', 'five']
three
['one', 'four', 'five']

### List related keywords in Python

In [1]:
# keyword 'in' is used to test if an item is in a list 
lst = ['one','two','three','four']
if 'five' in lst:
    print('AI')
    
# keyword 'not' can combined with 'in'
if 'six' not in lst:
    print('ML')

ML

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### List reverse

In [ ]:
# reverses the entire list

In [2]:
lst = ['one','two','three','four']
lst.reverse()
print(lst)

['four', 'three', 'two', 'one']


### List Sorting
the easiest way to sort a list is wth the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order.

the original list is not changed.

the sorted() optional  argument reverse = True, eg sorted(list,reverse= true),makes it sort backwards.

In [2]:
# create a list with numbers
numbers = [3,1,6,2,8]
sorted_lst = sorted(numbers)
print('sorted list:',sorted_lst)

# original list remain unchanged
print('original list:',numbers)

print(numbers.reverse())

sorted list: [1, 2, 3, 6, 8]
original list: [3, 1, 6, 2, 8]
None

In [22]:
# print a list in reverse sorted order
print('reverse sorted list:',sorted (numbers,reverse= True))

# original list remain unchanged
print('original list:',numbers)

reverse sorted list: [8, 6, 3, 2, 1]
original list: [3, 1, 6, 2, 8]

In [3]:
lst = [1,20,5,5,4.2,'a']
# sort the list and store in itself
lst.sort()
# add element 'a' to the list to show an error
print('sorted list:',lst)

TypeError: '<' not supported between instances of 'str' and 'int'

In [25]:
lst = [1,20,'b',5,'a']
print(lst.sort()) # sort list with element of diffrent datatypes.

TypeError: '<' not supported between instances of 'str' and 'int'

In [26]:
### list having multiple refrences.

lst = [1,2,3,4,5]
abc= lst
abc.append(6)

#print original list
print('original list:',lst)

original list: [1, 2, 3, 4, 5, 6]

### String Split to create a list

# lets take a string

In [19]:

s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [4]:
s = 'this is applied AI course'
split_lst = s.split()# default split is white- character: space or tab 
print(split_lst)

['this', 'is', 'applied', 'AI', 'course']

### List indexing 

Each item in the list has an assigned index starting from 0.

accessing elements in a list is called indexing.

In [2]:
lst = [1,2,3,4]
print(lst[1]) #print second element
#print last element using negative index.

2

### List Slicing
Accessing parts of segment is called slicing.
The point to remember is that the end value represents the first value that is not in the selected slice.

In [4]:
numbers = [10,20,30,40,50,60,70,80]

# print all numbers
print(numbers[:])

#print from index 0 to index 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [6]:
print(numbers)
#print alternate elements in a list
print(numbers[::2])

#print elements start from 0 through rest of the list

print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

In [14]:
### List extend using '+'
lst1 = [1,2,3,4,5,6]
lst2 = ['b1','b9','b15','b8','b14']
new_lst = lst1 + lst2
print(new_lst)

[1, 2, 3, 4, 5, 6, 'b1', 'b9', 'b15', 'b8', 'b14']

### list Count

In [9]:
numbers = [1,2,3,1,3,4,2,5]
#frequency of 1 in a list
print(numbers.count(1))
#frequency of 3 in a list

2

### List Looping

In [18]:
#loop  through a list

lst = ['one','two','three','four']
for ele in lst:
    print(ele)

one
two
three
four

### List comprehensions
List comprehensions provide a concise way to create lists.

In [3]:
#without list comprehension
squares = []
for i in range(10):
    squares.append(i**2) # list append
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
# using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
# example
lst = [-10,-20,10,20,30]

# create a new list with values doubled
new_lst = [i**2 for i in lst]
print(new_lst)

[100, 400, 100, 400, 900]

In [23]:
# using list comprehension

squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
#example
lst = [-10,-20,10,20,50]
#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i>=0]
print(new_lst)

#create a list of tuples like (number,square_of_number)
new_lst = [(i,i**2)for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [30]:
#lets suppose we have a matrix
matrix = [[1,2,3,4],
          [5,6,7,8],
          [9,10,11,12]]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [31]:
#with list comprehension
transposed = [[row[i] for row in matrix]for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

### Tuples
A tuple is similar to list.

the difference between the two is that we cant change the elements of tuple once it is assigned whereas in the list, elements can be changed.

Tuple creation

In [32]:
# empty tuple
t= ()

# tuple having integers
t = (1,2,3)
print(t)

#tuple with mixed datatypes
t = (1,'raju',28,'abc')
print(t)

#nested tuple
t= (1,(2,3,4),[1,'raju',28,'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [20]:
#only parenthesis is not enough
t= ('sathish')
type(t)

str

In [21]:
#need a comma at the end
t = ('sathish',)
type(t)

tuple

In [22]:
#parenthesis is optional
t= "sathish",
print(type(t))
print(t)

<class 'tuple'>
('sathish',)

### Accessing Elements in tuple

In [26]:
t = ('sathish','murali','naveen','srinu','bramha')
print(t[1])

murali

In [27]:
print(t[-1])

bramha

In [44]:
#nested tuple
t = ('ABC',('sathish','naveen','srinu'))
print(t[1])

('sathish', 'naveen', 'srinu')

In [45]:
print(t[1][2])

srinu

In [46]:
#slicing
t= (1,2,3,4,5,6)
print(t[1:4])
#print elements from starting to 2nd last elements
print(t[:-2])
#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

### changing a tuple
Unlike lists,tuples are immutable

#This means that elements of a tuple cannot be changed once it has been assigned.But,If the element is itself a mutable datatype like list,its nested items can be changed.

In [48]:
#creating tuple
t= (1,2,3,4,[5,6,7])
t[2] = 'x'  #will get typeerror

TypeError: 'tuple' object does not support item assignment

In [49]:
t[4][1] = 'sathish'
print(t)

(1, 2, 3, 4, [5, 'sathish', 7])

In [50]:
#concatinating tuples

t = (1,2,3)+(4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [51]:
#repeat the elements in a tuple for a given number of times using the * operator
t= (('sathish',)*4)
print(t)

('sathish', 'sathish', 'sathish', 'sathish')

### Tuple Deletion

In [2]:
# we cannot change the elements in a tuple
#that also means we cannot delete or removeitems from a tuple.

# delete entire tuple using del keyword
t= (1,2,3,4,5,6)

# delete entire tuple
del t 
print(t)

NameError: name 't' is not defined

### Tuple Count

In [55]:
t = (1,2,3,1,3,3,4,1)

#get the frequency of particular element appears in a tuple 
t.count(1)

3

### Tuple index

In [2]:

t = (1,2,3,1,3,3,4,1)
print(t.index(4)) #return index of the first element is equal to 3

#print index of the 1

6

### Tuple Membership

In [4]:
# test if an item exists in a tuple or not, using the keyword in.
t = (1,2,3,4,5,6)
print(3 in t)

True

In [58]:
print(7 in t)

False

### Built in functions
## Tuple length

In [59]:
t = (1,2,3,4,5,6)
print(len(t))

6

### Tuple sort

In [60]:
t = (4,5,1,2,3)
new_t = sorted(t)
print(new_t) #take elements in the tuple and return a new sorted list
#(does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [61]:
#get the largest element in a tuple
t= (2,5,1,6,9)
print(max(t))

9

In [62]:
#get the smallest element in a tuple
print(min(t))

1

In [6]:
#get the sum of  elements in a tuple
t= (2,5,1,6,9)  
print(sum(t))

23

In [7]:
#negative index
print(t[-1]) #print last element in a tuple

9

### Sets
A set is an unordered collection of items.Every element is unique(no duplicates).

The set itself is mutable.We can add or remove items from it.

Sets can be used to perform mathemetical set operations like union, intersection,symmetric diffrence etc.

Set Creation

In [66]:
#set of integers

s = {1,2,3}
print(s)

#print type of s
print(type(s))

{1, 2, 3}
<class 'set'>

In [67]:
#set doest allow duplicates.they store only one instance.
s = {1,2,3,1,4}
print(s)

{1, 2, 3, 4}

In [71]:
#we can make set from a list
s = set([1,2,3,1])
print(s)

{1, 2, 3}

In [73]:
#intialize a set with set()method 
s = set()

print(type(s))

<class 'set'>

### Add element to a set

In [74]:
# we can add single element using add() method and
# add multiple elements using update() method
s= {1,3}

#set object doesnt support indexing 
print(s[1]) #will get Type error

TypeError: 'set' object is not subscriptable

In [75]:
# add element
s.add(2)
print(s)

{1, 2, 3}

In [76]:
#add multiple elements
s.update([5,6,1])
print(s)

{1, 2, 3, 5, 6}

In [77]:
#add list and set
s.update([8,9],{10,2,3})
print(s)

{1, 2, 3, 5, 6, 8, 9, 10}

### remove elements from a set

In [78]:
# a particular item can be removed from set using methods,
#discard() and remove().
s= {1,2,3,5,4}
print(s)

s.discard(4) #4 is removed from set s

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [79]:
#remove an element 
s.remove(2)
print(s)

{1, 3, 5}

In [80]:
#remove an element not present in a set s
s.remove(7) #will get Keyerror

KeyError: 7

In [81]:
#discard an element not present in a set s
s.discard(7)
print(s)

{1, 3, 5}

In [83]:
# we can remove item using pop()method
s = {1,2,3,5,4}
s.pop() # remove random element
print(s)

{2, 3, 4, 5}

In [84]:
s.pop()
print(s)

{3, 4, 5}

In [85]:
s = {1,5,2,3,6}
s.clear() #remove all items in set using clear()method

print(s)

set()

### Python Set Operations

In [10]:
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}

# union of 2 sets using |operator
print(set1|set2)

{1, 2, 3, 4, 5, 6, 7}

In [11]:
# another way of getting union of 2 sets 
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [12]:
#intersection of 2 sets using & operator
print(set1 & set2)

{3, 4, 5}

In [13]:
#use intersection function 
print(set1.intersection(set2))

{3, 4, 5}

In [14]:
#setDifference:set of elements that are only in set1 but not in set2
print(set1-set2)

{1, 2}

In [15]:
### Python set operations
set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
#union of 2 sets using | operator
print(set1|set2)

{1, 2, 3, 4, 5, 6, 7}

In [16]:
#another way of getting union of 2 sets 
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [17]:
#intersection of 2 sets using & operator
print(set1 & set2)

{3, 4, 5}

In [18]:
#set difference:set of elements that are only in set1 but not in set2
print(set1 - set2)

{1, 2}

In [19]:
# use difference function 
print(set1.difference(set2))

{1, 2}

In [20]:
# symmetric difference: set of elements in both set1 and set2 
#except those that are common in both"""

#use ^ operator
print(set1 ^ set2)

{1, 2, 6, 7}

In [21]:
#use symmetric_ difference function 

print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

In [22]:
# find issubset()
x = {"a","b","c","d","e"}
y = {"c","d"}

print("set 'x' is subset of 'y'?",x.issubset(y)) # check x is subset of y

print("set 'y' is subset of 'x'?",y.issubset(x)) # check y is subset of x

set 'x' is subset of 'y'? False
set 'y' is subset of 'x'? True

### Frozen Sets
Frozen sets has the characteristics of sets, but we cant be changed once its assigned. While tuple are immutable lists, frozen sets are immutable sets.

frozensets can be created using the function frozenset()

sets being mutable are unhashable, so they cant be used as dictionary keys.On the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports methods like copy(),diffrence(), intersection(), isdisjoint(),issubset(),issuperset(),symmetric_difference() and union().Being immutable it does not have method that add or remove elements.

In [25]:
set1 = frozenset([1,2,3,4])
set2 = frozenset([3,4,5,6])

# try to add element into set1 gives an error
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [26]:
print(set1[1])# frozen set doesnt support indexing

TypeError: 'frozenset' object is not subscriptable

In [27]:
print(set1|set2)  #union of 2 sets

frozenset({1, 2, 3, 4, 5, 6})

In [28]:
#intersection of two sets
print(set1 & set2)
#or
print(set1.intersection(set2))

frozenset({3, 4})
frozenset({3, 4})

In [29]:
#symmetric difference
print(set1^ set2)

frozenset({1, 2, 5, 6})

### Dictionary

Python dictionary is an unordered collection of items.While other compound data types have only 
values as an element, a dictionary has a key: value pair.

### Dictionary  Creation

In [6]:
#empty dictionary
my_dict = {}

# dictionary with integer keys
my_dict = {1: 'abc',2:'xyz'}
print(my_dict)

#dictionary with mixed keys 
my_dict = {'name':'sathish',1:['abc','xyz']}
print(my_dict)

#create empty dictionary using dict()
my_dict = dict()

my_dict = dict([(1,'abc'),(2,'xyz')]) # create a dict with list of tuple
print(my_dict)

{1: 'abc', 2: 'xyz'}
{'name': 'sathish', 1: ['abc', 'xyz']}
{1: 'abc', 2: 'xyz'}

### Data access

In [31]:
my_dict = {'name':'sathish','age':27, 'address':'guntur'}

#get name
print(my_dict['name'])

sathish

In [32]:
#if key is not present it gives keyerror
print(my_dict['degree'])

KeyError: 'degree'

In [33]:
#another way of accessing key
print(my_dict.get('address'))

guntur

In [34]:
# if key is not present it will give none using get method
print(my_dict.get('degree'))

None

### Dict add or modify elements

In [1]:
my_dict = {'name':'GITAM','age':39, 'address':'vzg'}

#update name 
my_dict['name']= 'HITAM'

print(my_dict)

{'name': 'HITAM', 'age': 39, 'address': 'vzg'}

In [2]:
#add new key 
my_dict['degree']= 'M.tech'

print(my_dict)

{'name': 'HITAM', 'age': 39, 'address': 'vzg', 'degree': 'M.tech'}

### Dict delete or remove elements

In [3]:

# create a dictionary 
my_dict = {'name':'GITAM','age':39, 'address':'vzg'}

#remove a particular item
print(my_dict.pop('age'))

print(my_dict)

39
{'name': 'GITAM', 'address': 'vzg'}

In [38]:
my_dict = {'name':'GITAM','age':39, 'address':'vzg'}

#remove an arbituary key
my_dict.popitem()
print(my_dict)

{'name': 'GITAM', 'age': 39}

In [39]:
squares = {2:4,3:9,4:16,5:25}

#delete particular key
del squares[2]

print(squares)

{3: 9, 4: 16, 5: 25}

In [40]:
#remove all items
squares.clear()
print(squares)

{}

In [4]:
squares = {2:4,3:9,4:16,5:25} 
#delete dictionary itself
del squares
print(squares)#name error because dict is deleted

NameError: name 'squares' is not defined

### Dictionary methods

In [43]:
squares = {2:4,3:9,4:16,5:25}

my_dict = squares.copy()
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [44]:
#fromkeys[seq[,v]]->return a new dictionary with keys from seq and value
subjects = {}.fromkeys(['OSSD','ML','CC'],0)
print(subjects)

{'OSSD': 0, 'ML': 0, 'CC': 0}

In [15]:
subjects= {2:4,3:9,4:16,5:25}
print(subjects.items())#return a new view of the dictionary items(key,value)

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

### Strings
 A string is a sequence of characters.
 Computers do not deal with characters, they deal with numbers(binary). Even though you may see characters on your screen, internally it is stored and manipulated as a combination of 0's and 1's.
 
 This conversion of character to a number is called encoding, and the reverse process is decoding. ASCII and unicode are some of the popular encoding used.
 
 In python, string is a sequence of Unicode character.

In [1]:
mystring = 'Hello'
print(mystring)

mystring = 'hello'
print(mystring)

mystring = '''Hello'''
print(mystring)

Hello
hello
Hello

### How to access characters in a string?

In [1]:
mystring = "Hello"

# print first Character 
print(mystring[0])
#print last character using negative indexing
print(mystring[-1])
#slicing 2nd to 5th character
print(mystring[2:5])

H
o
llo

If we try to access index out of the range or use decimal number, we will get errors.

In [3]:
print(mystring[15])

IndexError: string index out of range

In [3]:
print(mystring[1.5])

TypeError: string indices must be integers

### How to change or delete a string?

Strings are immutable. This means that elements of a string cannot be change once it has been assigned. 

We can simply reassign different strings to the same name.

In [5]:
mystring = 'hello'
mystring[4] = 's'  #strings are immutable

TypeError: 'str' object does not support item assignment

We cannot delete or remove charaters from a string. But deleting the string entirely is possible using the keyword del.

In [4]:
del mystring

In [5]:
print(mystring)

NameError: name 'mystring' is not defined

In [8]:
s1 = 'hello'
s2 = 'B1'

# concatenation of 2 strings
print(s1+s2)

# repeat string n times
print(s1*3)

helloB1
hellohellohello

Iterating through string

In [11]:
count = 0
for l in "hello world":
    if l == 'o':
        count += 1
print(count, 'letters found')

2 letters found

### String membership test

In [32]:
print('l' in 'hello world')# in operator to test membership

True

In [31]:
print('or' in 'hello World')

True

### String Methods

some of the commonly used methods are lower(),upper(),join,split(), find(),replace() etc

In [3]:
'HELLO'.lower()

'hello'

In [4]:
'hello'.upper()

'HELLO'

In [5]:
'this will split all words in a list'.split()

['this', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [6]:
'@'.join(['this','will','split','all','words','in','a','list'])

'this@will@split@all@words@in@a@list'

In [7]:
'good morning'.find('mo')

5

In [8]:
'bad morning'.replace('bad','Good')

'Good morning'

### Python Program to check where a string is Palindrome or not?

In [12]:
mystr = 'Madam'

#convert entire string to wither lower or upper
mystr = mystr.lower()

# reverse string
revstr = reversed(mystr)


#check if the string is equal to its reverse
if mystr == revstr:
    print('given string is palindrome ')
else:
    print('given string is not palindrome')

given string is not palindrome

### Python program to sort words in alphabetic order?

In [13]:
mystr = 'python program to sort words in Alphabetic order'


# breakdown the string into list of words
words = mystr.split()

#sort the list 
words.sort()

# print sorted words are 
for word in words:
     print(word)

Alphabetic
in
order
program
python
sort
to
words

In [14]:
def add1(a,b):
    sum = a+b
    return sum
num1=2
num2=4

print('addition of {0} and {1} is : {2}'.format(num1, num2, add1(num1,num2)))

addition of 2 and 4 is : 6

In [ ]:
def computeHCF(a,b):
"""
computing HCF of two numbers
"""
smaller = b if a>b else a #concise way of writing if else statement
hcf = 1
for i in range(1, smaller+1):
        if (a% i==0 )and (b% i == 0):
           hcf = i
return hcf
num1 = 98 num2 = 78

print('HCF of {0} and {1} is : {2}'.format(num1, num2, computeHCF(num1,num2)))